#wrapper {
    width: 400px;
    height: 320px;
    background-color: dimgrey;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    color: aliceblue;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
    margin: 5px 0px;
}

#wrapper .left {
    text-align: left;
    padding-left: 0px;
    margin-bottom: 0px;
}

#wrapper .left p {
    margin-bottom: 10px;
}

#wrapper .right {
    text-align: right;
    vertical-align: top;
    margin-left: 25px;
}

#wrapper .right select,
input {
    width: 180px;
    height: 25px;
    margin-bottom: 10px;
}

button {
    display: block;
    text-align: right;
    margin-left: auto;
    background-color: cadetblue;
}

textarea {
    width: 100%;
}

h2 {
    text-decoration: underline;
}

#other_page {
    margin-left: 40px;
}

#other_page .right {
    text-align: left;
}

#other_page .left p,
.right p {
    margin-bottom: 0px;
}

#comment {
    height: 80px;
    width: 150px;
    scrollbar-width: thin;
    overflow-y: auto;
}

form {
    display: block;
}