<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dojo Survey App</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div id="wrapper">
        <form id="app_form" action="/other_page" method="POST">
            {% csrf_token %}
            <ul class="left">
                <li>
                    <p>Name:</p>
                </li>
                <li>
                    <p>Dojo Location:</p>
                </li>
                <li>
                    <p>Favorite Language:</p>
                </li>
                <li>
                    <p>Comment (optional):</p>
                </li>
            </ul>

            <ul class="right">
                <li>
                    <p><input type="text" name="name"></p>
                </li>
                <li>
                    <p><select for="location" name="location">
                        <option value="Berkeley">Berkeley</option>
                        <option value="Boise">Boise</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Dallas">Dallas</option>
                        <option value="Los_Angeles">Los Angeles</option>
                        <option value="Orange_County">Orange County</option>
                        <option value="San_Jose">San Jose</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Tulsa">Tulsa</option>
                        <option value="Tysons_Corner">Tysons Corner</option>
                        <option value="Online">Online</option>
                    </select></p>
                </li>
                <li>
                    <p><select for="language" name="language">
                        <option value="JAVA">JAVA</option>
                        <option value="PYTHON">PYTHON</option>
                        <option value="C#/.NET">C#/.NET</option>
                        <option value="MEAN">MEAN</option>
                        <option value="RUBY">RUBY</option>
                    </select></p>
                </li>
            </ul>

            <textarea name="comment" name="comment" rows="4"></textarea>

            <button type="submit" form="app_form">Submit</button>
        </form>
    </div>

</body>

</html>