<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Page Dojo Survey App</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="wrapper">
        <h2>Submitted Info</h2>
        <div id="other_page">
            <ul class="left">
                <li>
                    <p>Name:</p>
                </li>
                <li>
                    <p>Dojo Location:</p>
                </li>
                <li>
                    <p>Favorite Language:</p>
                </li>
                <li>
                    <p>Comment:</p>
                </li>
            </ul>

            <ul class="right">
                <li>
                    <p>{{ request.session.name }}</p>
                </li>
                <li>
                    <p>{{ request.session.location }}</p>
                </li>
                <li>
                    <p>{{ request.session.language }}</p>
                </li>
                <li>
                    <p id="comment">{{ request.session.comment }}</p>
                </li>
            </ul>
        </div>
        <form action="/" id="return">
            <button formmethod="GET" form="return">Go Back</button>
        </form>
    </div>

</body>

</html>